PORT=5001
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/paw_track
JWT_ACCESS_SECRET=paw_track_super_secret_access_key_2026_jwt_token!
JWT_REFRESH_SECRET=paw_track_super_secret_refresh_key_2026_jwt_token_rotate!
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000
